.center_product_area {
    display: flex;
    background: #E9EFE4;
    background-size: cover;
    width: 100%;
    height: 150px; 
}

.center_middle_inner {
    margin: auto;
    display: flex;
}

.board {
    border-radius: 17px;
    border: 1px solid rgba(231, 229, 229, 0.902);
    left: 0;
}